
#header {
    background-color: blue;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
   
}
#nameAndTitle {
    margin: 0 auto;
    background-color: white;
    width: 400px;
    text-align: center;
}
#nameAndTitle h1, h2 {
    margin: 0;
}
h1, h2, h3{
    text-transform: uppercase;
}
#contact{
    list-style-type: none;
}
#contact i{
    width: 30px;
    color: blue;
}
#conteiner {
     display: grid;
    grid-template-columns: 30% auto;
}

#sidebar, #content {
    
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.card h3{
font-family: "Inter", sans-serif
}
.card{
margin-left: 10px;
font-family: cursive; 
border: 1px solid black;
border-radius: 15px;
padding: 20px;
}
